---
import TechLogos from "@components/tech-logos/tech-logos.astro";
import type { CollectionEntry } from "astro:content";
const { project } = Astro.props as { project: CollectionEntry<"projects"> };
---

<li
  class="flex flex-col rounded border border-stone-900 bg-gradient-to-tl from-stone-900/20 to-stone-950 pt-1 pb-2 transition-colors hover:from-stone-900/30"
>
  <div class="flex items-baseline gap-2 px-2">
    {
      project.data.link ? (
        <a
          href={project.data.link}
          target="_blank"
          class="font-mono text-2xl underline"
        >
          {project.data.title}
        </a>
      ) : (
        <span class="text-2xl">{project.data.title}</span>
      )
    }
  </div>

  <div class="mt-2 px-2 text-xs text-stone-500">
    {project.body}
  </div>

  <div
    class="mt-2 flex grow items-center justify-end gap-2 border-t border-stone-900/50 px-2 pt-2"
  >
    {
      project.data.links && (
        <div class="flex items-center gap-2 text-stone-400">
          {project.data.links?.map((link) => (
            <a href={link.link} target="_blank" class="text-xs underline">
              {link.label}
            </a>
          ))}
        </div>
      )
    }

    <TechLogos logos={project.data.tech} size="14" />
  </div>
</li>
